<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.mapper.DiaryMapper">
	
	<insert id="writeDiary" parameterType="DiaryDTO">
		insert into INFANT_DIARY values(NUM_DIARY2.nextval,
		#{FAMILY_KEY}, #{TITLE}, #{DIARY}, #{FILENAME},to_char(sysdate,'YYYY-MM-DD'))
	</insert>

	<select id="showDiary" parameterType="String" resultType="DiaryDTO">
		select * from INFANT_DIARY where FAMILY_KEY = #{FAMILY_KEY} order by NUM
	</select>

	<select id="showDiary_DESC" parameterType="String" resultType="DiaryDTO">
		select * from INFANT_DIARY where FAMILY_KEY = #{FAMILY_KEY} order by NUM DESC
	</select>

	<select id="showDiaryOne" parameterType="DiaryDTO" resultType="DiaryDTO">
		select * from INFANT_DIARY where NUM = #{num} and FAMILY_KEY = #{FAMILY_KEY}
	</select>
	
	<update id="updateDiary" parameterType="DiaryDTO">
		update INFANT_DIARY set TITLE=#{TITLE}, DIARY=#{DIARY}, FILENAME=#{FILENAME} where NUM=#{NUM} and FAMILY_KEY = #{FAMILY_KEY}
	</update>
	
	<delete id="deleteDiary" parameterType="DiaryDTO">
		delete from INFANT_DIARY where NUM = #{num} and FAMILY_KEY = #{FAMILY_KEY}
	</delete>
</mapper>