<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.mapper.HouseholdMapper">


	<insert id="addHousehold" parameterType="HouseholdDTO">
		insert into HOUSEHOLD VALUES(COUNT_NUM5.nextval, #{FAMILY_KEY}, #{WORK})
	</insert>

	<select id="showHousehold" resultType="HouseholdDTO">
		select * from HOUSEHOLD where FAMILY_KEY=#{FAMILY_KEY} order by NUM
	</select>

	<delete id="deleteHousehold">
		DELETE from HOUSEHOLD where (Family_key = #{FAMILY_KEY} and WORK = #{WORK})
	</delete>


</mapper>