<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.mapper.MemberMapper">

  <insert id="join" parameterType="MemberDTO">
      insert into MEMBER values(#{ID},'패밀리키를 등록해주세요',#{PW},#{NAME})
  </insert>
  
  <select id="login" parameterType="MemberDTO" resultType="MemberDTO">
      select * from MEMBER where ID=#{ID} and PW=#{PW}
  </select>
  
  <select id="CheckFM" parameterType="String" resultType="String">
      select FAMILY_KEY from FAMILY where FAMILY_KEY = #{FAMILY_KEY}
  </select>
  
  <update id="familykey" parameterType="MemberDTO">
    update MEMBER
    set
    ID = #{ID, jdbcType=VARCHAR},
    FAMILY_KEY = #{FAMILY_KEY, jdbcType=VARCHAR},
    PW=#{PW, jdbcType=VARCHAR},
    NAME=#{NAME, jdbcType=VARCHAR}
    where ID = #{ID, jdbcType=VARCHAR}
  </update>
  
  <insert id="insertfamilykey" parameterType="String">
  	insert into FAMILY(FAMILY_KEY) values(#{FAMILY_KEY})
  </insert>
  
  <update id="update" parameterType="MemberDTO">
   update MEMBER set PW=#{PW} where ID =#{ID}
  </update>

  <delete id="deleteMember" parameterType="String"> <!-- MemberDTO로 가져올 수 도 있음 -->
   delete from MEMBER where ID =#{ID}
  </delete>
   
</mapper>