<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smhrd.mapper.TodoMapper">


	<insert id="insertTodo" parameterType="TodoDTO">
		insert into calendar VALUES(#{NUM},#{FAMILY_KEY},#{ASSORT},#{WHO},#{title},#{start},#{end},#{color})
	</insert>

	<select id="showTodo" resultType="TodoDTO">
		select title, S_DATE AS "start", E_DATE AS "end", WHO from calendar where Family_key = #{FAMILY_KEY}
	</select>

	<delete id="deleteTodo">
		DELETE from calendar where (NUM = #{NUM} and
		FAMILY_KEY = #{FAMILY_KEY} and
		who = #{WHO} and title = #{title} and
		S_DATE = #{start} and E_DATE = #{end} and color = #{color})
	</delete>

</mapper>