@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

:root{
    --mainColor :rgb(253, 221, 126);
    --subColor : rgb(253, 177, 64);
    --thirdColor : rgb(247, 247, 247);
    --shadowColor :rgb(122, 122, 122);
    font-family:'NanumSquareNeo-Variable';
}

.diary_write_top_div{
    display: flex;
    flex-direction: column;
    background-color: rgb(241, 241, 241);;
    width: 600px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
    box-shadow: 2px 2px 2px var(--shadowColor);
    border-radius: 20px;
}
.diary_babyname_div{
    width: 250px;
    height: 30px;
    padding-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(253, 221, 126);
    border-radius: 20px;
    box-shadow: 2px 2px 2px var(--shadowColor);
}
.diary_br_div{
    margin-top: 15px;
    border: 1px solid ;
    border-color: rgb(128, 128, 128);
    border-bottom: 1px;
}
.diary_write_day_div{
    width: 300px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
    border: 2px solid;
    border-color: rgb(143, 143, 143);
    border-radius: 20px;
}
.diary_write_title_div{

}
.diary_write_pick_div{

}
.diary_write_pick_div>img{
    background-color: aqua;
    width: 500px;
    height: auto;
    margin-left: 50px;
    max-height: 500px;
}

.diary_write_memo_div{

}
#diary_pick_btn{
width: 150px;
    margin-left: auto;
    margin-right: auto;

}
#diary_upload_btn{

}
#diary_write_back_btn{

}

.diary_write_top_div>button:hover{
    cursor: pointer;
}